.home-page {
    width: 100vw;
    text-align: center;
   
  }
  
   /* .header { */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* padding: 20px; */
    /* background-color: #f8f8f8; */
  /* } */
  
  /* .logo img {
    height: 50px;
    margin-right: 10px;
  } */
  
  /* .hero-section {
    padding: 40px 20px;
    background-color: #596d95;
  } */
  
  /* .hero-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
   */
  /* .hero-images img {
    max-width: 100px;
    border-radius: 10px;
  } */
  
  /* footer {
    padding: 20px;
    background-color: #f9aaaa;
    color: #fff;
  }
   */